.header {
  background: var(--blue);
  color: var(--white);
}

.navigation {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 40px;
  font-size: 14px;
}

.menuLink {
  position: relative;
}

.menuLink::after {
  content: "";
  background: var(--white);
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  transform: scaleX(0);
  transition: .3s;
}

.menuLink:hover::after {
  transform: scaleX(1);
}

.cartContainer {
  position: relative;
}

.cart {
  position: absolute;
  right: 0;
  top: 48px;
  background: var(--white);
  color: var(--black);
  width: 480px;
  opacity: 0;
  z-index: -1;
}

.cartOpen {
  opacity: 1;
  z-index: 1;
}

.cart p {
  margin: 0;
}

.basket {
  border: none;
  background: none;
  color: var(--white);
  position: relative;
  display: inline-block;
}

.cartCounter {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 30%;
  padding: 2px 5px;
  border-radius: 1rem;
  background: var(--primary);
  color: var(--white);
}

.basket > span {
  line-height: 14px;
}

.cartLits {
  max-height: 320px;
  overflow-y: auto;
}

.cartItem {
  padding: 20px;
  display: grid;
  grid-template-columns: 100px 1fr auto;
  gap: 10px;
  transition: var(--animation);
}

.cartItem:hover {
  background: #CCD9F233;
}

.cartPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  height: 90px;
}

.price {
  font-weight: 700;
  font-size: 20px;
}

.cartDeleteButton {
  background: none;
  border: none;

}

.cartDeleteIcon {
  font-size: 36px;
  color: var(--black);
  transition: var(--animation);
}

.cartDeleteButton:hover > .cartDeleteIcon {
  color: var(--primary);
}


.cartNothing {
  text-align: center;
  padding: 20px 0;
}

@media screen and (max-width: 1230px) {
  .navigation {
    max-width: 100%;
    padding: 20px 15px;
  }
}